{% extends 'base.html.twig' %}

{% block body %}
    <body id="aboutme_body">
    <header id="base_header">

    </header>
    <main id="aboutme_main">
        <img src="img/michel.jpg" alt="test">
        <p class="txtaboutme">Hi! I'm Michel Escaravage.<br>
            I'm a motivated and dedicated first year software development student in Roosendaal, North-Brabant.<br>
            My passion is to develop programs that will result in a more efficient workflow and way of life in a
            prominent company<br>
            <br>
            My age is 26, and I love nature and adventure.<br>
            In my free time you can find me traveling Europe or behind my computer typing away at some new project I
            can't get enough of.<br>
            <br>
            Through a friend, who was developing a game at the time, I found coding. He showed me the intriguing world
            of programming.<br>
            In September 2022 I officially started my education to become a software developer at Curio in
            Roosendaal.<br>
            With endless puzzles to solve I felt right at home!</p>
    </main>
    <footer id="index_footer">
        <!-- Your footer content here -->
    </footer>
    </body>
{% endblock %}
