{% extends 'base.html.twig' %}

{% block body %}
    <body id="index_body">
    <header id="index_header">

    </header>
    <main id="index_main">
        <h2>dffgfgdfgfg</h2>
        <p>This is my own text.</p> <!-- Add your own text here -->
    </main>
    <footer id="index_footer">
        <!-- Your footer content here -->
    </footer>
    </body>
{% endblock %}
