{% extends 'base.html.twig' %}

{% block body %}
    <body id="index_body">
    <header id="base_header">

    </header>
    <main id="index_main">
        <h1 class= "mainh1top">Portfolio</h1>
        <h1 class= "mainh1top2">M. Escaravage</h1>
    </main>
    <footer id="index_footer">
        <!-- Your footer content here -->
    </footer>
    </body>
{% endblock %}
