{% extends 'base.html.twig' %}

{% block body %}
    <body id="projects_body">
    <header id="base_header">

    </header>
        <main id="projects_main">

            <p class="aboutmeP1">Check out my Github </p>
              <button class="github" onclick="window.location.href = 'https://github.com/MichelEscaravage'"></button>
            <p class="aboutmeP2">I've enjoyed working with all sorts of languages including PHP, HTML, C#, Python and
                JavaScript.</p>
            <p class="aboutmeP3">Click on of the icons below to see some examples of projects</p>

        </main>
    <footer id="projects_footer">
        <button class="button_python"></button>
        <button class="button_csharp"></button>
        <button class="button_php"></button>
        <button class="button_html"></button>
        <button class="button_javascript"></button>
    </footer>
    </body>




{% endblock %}


